spring:
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  modulith:
    events:
      republish-outstanding-events-on-restart: true
